
body{
    background-image: url('./imagen/cielo.png');
}
.main-container {
    background-position: cover;
    background-size: auto;
    background-repeat: no-repeat;
    background-attachment: fixed;
    
}
div{

    border: 5px solid  #607274;
    margin: 5% 5% 5% 5%;
    padding: 5%;
    
    }
.links{
    color: black;
    text-decoration: none;
    font-style: oblique;
    position: relative;
    left: 40%;
    
}

.red { color: crimson;
text-decoration: wavy;
font-variant-ligatures: contextual;}


#u-list {
    list-style-type: square;
    font-family: cursive;
    color: rgb(124, 82, 52);
    list-style: none;
}
    h1 { 
        font-family: sans-serif ; color:aliceblue;
        position: relative; left: 50%;
        font-weight: normal;
        letter-spacing:  .4em;
        margin-bottom: 1em;
        text-transform: capitalize;
    }

    h2 { 
        

        position: relative; left: 5%;
        font-family: Cambria
        font-style: unset;
        color: #FAEED1
    }
    p{ 
        position: relative; left: 2%; 
        font-family: cursive;
        color: rgb(124, 82, 52);
        font-size: 1em;
    }
    h3{
        font-family: serif;
        color: rgb(58, 31, 9);
    }
img:hover {
border: black;
}
img{
    position: relative;
    left: 40%;
    border-radius: 50%
}
