
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background: url(https://png.pngtree.com/background/20220718/original/pngtree-aesthetic-background-simple-hd-picture-image_1660220.jpg);
    background-position: center;
    color: black;
}
